<!-- Views/Shared/deleteModal.html -->

<div class="modal fade text-black" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;">
                <h5 class="modal-title" id="deleteModalLabel">Conferma Eliminazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sei sicuro di voler cancellare la pizza <span id="pizzaNameToDelete"></span>?
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <a id="confirmDeleteButton" href="#" class="btn btn-danger">Elimina</a>
            </div>
        </div>
    </div>
</div>
